/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.flex-container {
  display: flow-root;
  justify-content: center;
}

.flex-container>h1 {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 44px;
  text-transform: uppercase;
}

.flex-container>form {
  margin: 10px;
  text-align: center;
  font-size: 23px;
}

.flex-container>ul {
  margin: 10px;
  text-align: center;
  line-height: 42px;
  list-style-type: none;
}

input {
  margin: 5px;
}

button {
  margin-right: 6px;
  text-align: center;
  font-size: 14px;
}

span {
  margin-right: 10px;
  font-size: 21px;
}